body {
  padding: 0;
  margin: 0;
  background: rgb(190, 190, 190);
}

.container {
  display: grid;
  grid-template-columns: 1fr, 300px;

  gap: 20px;
}

img {
  width: 100%;
  height: 200px;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
}
.container-one {
  grid-column: 1;
  grid-row: 2;
  background: white;
}

.container-three img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.container-two {
  grid-column: 1;
  grid-row: 3;
  background: white;
}

.container-three {
  grid-column: 2;
  grid-row: 2;
  background: white;
}

.container-four {
  grid-column: 2;
  grid-row: 3;
}

.container-four img {
  width: 200px;
  height: 100px;
}
.container-four {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: white;
}
.container-five {
  grid-column: 2;
  grid-row: 4;
  background: white;
}

.container-six {
  grid-column: 1/ 3;
  grid-row: 5;
  display: flex;
  justify-content: center;
}

.container-six h1 {
  text-align: center;
}
